.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
}

.App-header,
.App-footer  {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  min-height: calc(50vh);
}